/* Common style applied to all content */

body {
  font-family: Verdana;
  background-color: black;
}

/* Primary header */

h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}
